body {
    background-color: black;
}

h1 {
    font-size: 50px;
    font-weight: normal;
    font-family: Verdana;
    color: white;
    text-align: center;
}

p.link {
    font-size: 16px;
    color:aquamarine;
    text-align: center;
}